$blue   : #00A0B0;
$brown  : #694B3C;
$red    : #CD333E;
$orange : #EB6940;
$yellow : #EDCA51;

$light-grey  : #EEEEEE;
$medium-grey : #CCCCCC;
$dark-grey   : #999999;

$medium-blue  : #0000CD;
$forest-green : #228B22;
$dark-blue    : #00008B;
$dark-red     : #8B0000;
$teal         : #008080;
$royal-purple : #7851A9;
$black        : #000000;

* {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
}

body {
	background: $yellow;
	font: 10px/12px verdana;
}

.center {
	margin: 100px auto;
	width: 730px;
	text-align: center;
	border: 10px solid $red;
	padding: 30px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	display: block;
	position: relative;

	h1 {
		font-size: 4em;
		color: $brown;
		margin: 40px 0px;
	}

	&.start-screen {
		.select {
			font-size: 1.5em;
			color: $brown;
			margin: 25px;
		}
	}
}

.button {
	list-style-type: none;
	font: bold 2.5em/2em verdana;
	color: $blue;

	background: $orange;
	width: 250px;
	height: 50px;
	margin: 20px auto;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	&:hover {
		color: $red;
		cursor: pointer;
	}
}

.grid {
	font-size: 1.2em;
	font-weight: bold;

	table {
		margin: auto;
	}

	td {
		height: 20px;
		width: 20px;
		border: 2px solid;
		border-color: $yellow;

		&.covered {
			border-color: $light-grey $dark-grey $dark-grey $light-grey;
			background-color: $medium-grey;
			cursor: pointer;

			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	}

	.one   { color: $medium-blue; }
	.two   { color: $forest-green; }
	.three { color: $red; }
	.four  { color: $dark-blue; }
	.five  { color: $dark-red; }
	.six   { color: $teal; }
	.seven { color: $royal-purple; }
	.eight { color: $black; }
}
